
<%- include('header') -%>
    
    <div class="text-center" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-italic">Login System</h2>
                <span>Log forthe existing users</span>
            </div>
            <form action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email">
            </div>
            </form>
        </div>
    </div>
<%- include('footer') -%>